.container {
	width: 1200px;
	margin: 0 auto;
	background-color: yellow;
}

#displayedCat {
	width: 80%;
	background-color: blue;
}

#listOfCatsNames {
	width: 10%;
	background-color: red;
	float: right;
}

#displayedCat,
#listOfCatsNames {
	display: inline-block;
}

img {
	height: 300px;
}

.catPic {
	display: inline-block;
	width: 45%;
}

#admin-button {
	display: block;
	color: black;
}

#admin-button,
#admin-cancel,
#admin-submit {
}



#admin-area{
	display: none;
}

#admin-catName,
#admin-URL,
#admin-numCatClicks {
	display: block;
}

#admin-cancel,
#admin-submit {

}

